body {
    font-family: 'Roboto', sans-serif;
    
}   
  p {
      font-size:small;
      color:black;
  }
  nav{
      
    background:green ;
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-align:center;
    font-family: 'Roboto';
  }
 header{
    background-image: url("./cc.jpg");
    background-size: cover;
    background-position:center;
    height: 800px;
    width:100%;
}
nav ul {
    display: inline-flex;
    list-style: none;
    color: black;

}
nav li {
    width:120px;
    margin:auto;
    padding: :20px;
}
  
  nav a {
      color: rgb(255, 240, 254);
      font-size: medium;
  }
 